In [1]:
import pandas as pd

In [2]:
netflix_data = pd.read_csv("./netflix_data.csv")

# Exploratory Data Analysis

In [3]:
df = netflix_data.copy()

In [4]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers"
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies"
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV"

In [5]:
df.shape

(7787, 11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   int64
 10  genres        7787 non-null   object
dtypes: int64(2), object(9)
memory usage: 669.3+ KB

In [7]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7782    False
7783    False
7784    False
7785    False
7786    False
Length: 7787, dtype: bool

In [8]:
df.duplicated().sum()

0

In [9]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'genres'],
      dtype='object')

In [10]:
df.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
0,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
7782,False,False,False,True,True,False,False,False,False,False,False
7783,False,False,False,True,False,False,False,False,False,False,False
7784,False,False,False,False,False,False,False,False,False,False,False
7785,False,False,False,False,False,False,False,False,False,False,False
7786,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
genres             0
dtype: int64

In [12]:
df.isnull().sum().sort_values(ascending = False)

director        2389
cast             718
country          507
date_added        10
rating             7
show_id            0
type               0
title              0
release_year       0
duration           0
genres             0
dtype: int64

In [13]:
sorted_nulls = df.isnull().sum().sort_values(ascending = False)

In [14]:
sorted_nulls

director        2389
cast             718
country          507
date_added        10
rating             7
show_id            0
type               0
title              0
release_year       0
duration           0
genres             0
dtype: int64

In [15]:
sorted_nulls[sorted_nulls > 0]

director      2389
cast           718
country        507
date_added      10
rating           7
dtype: int64

In [16]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'genres'],
      dtype='object')

# Data Wrangling

In [17]:
df_tmp = df[df['director'].isnull()]

In [18]:
df_tmp['rating'].unique()
df_tmp['rating'].value_counts()

rating
TV-MA       985
TV-14       636
TV-PG       301
TV-Y7       182
TV-Y        181
TV-G         88
NR            5
R             4
TV-Y7-FV      2
NC-17         1
PG-13         1
Name: count, dtype: int64

In [19]:
# remove the ratings that were wrongly inputed

In [20]:
df_tmp[df_tmp['rating'].isin(['NR', 'R', 'NC-17', 'PG-13'])]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
605,s1543,Movie,Crip Camp: A Disability Revolution,NaN,NaN,United States,25-Mar-20,2020,R,108,Documentaries
1050,s1944,TV Show,El Barco,NaN,"Juanjo Artero, Mario Casas, Blanca Suárez, Ire...",Spain,"July 1, 2017",2013,NR,3,"International TV Shows, Romantic TV Shows, Spa..."
2800,s3519,Movie,Lady-Like,NaN,"Allie Gallerani, Beverly D'Angelo, Olivia Lucc...",United States,18-Jan-19,2018,NC-17,83,"Comedies, Independent Movies"
3887,s4498,TV Show,Nobel,NaN,"Aksel Hennie, Tuva Novotny, Anders Danielsen L...",Norway,10-Dec-16,2016,R,1,"International TV Shows, TV Dramas, TV Thrillers"
3905,s4513,TV Show,North & South,NaN,"Daniela Denby-Ashe, Richard Armitage, Tim Pigo...",United Kingdom,31-Mar-17,2004,NR,1,"British TV Shows, Romantic TV Shows, TV Dramas"
4099,s4689,Movie,Otherhood,NaN,NaN,"United Kingdom, United States",02-Aug-19,2019,R,101,Comedies
4599,s5138,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
4693,s5222,Movie,Rising Phoenix,NaN,NaN,United Kingdom,26-Aug-20,2020,PG-13,107,"Documentaries, International Movies, Sports Mo..."
4794,s5313,TV Show,Russell Peters vs. the World,NaN,Russell Peters,United States,14-Oct-13,2013,NR,1,"Docuseries, Stand-Up Comedy & Talk Shows"
6029,s6425,TV Show,The Great Train Robbery,NaN,"Luke Evans, Jim Broadbent, Paul Anderson, Mart...",United Kingdom,31-Mar-17,2013,NR,1,"British TV Shows, Crime TV Shows, Internationa..."
7614,s843,Movie,"Berlin, I Love You",NaN,NaN,Germany,08-Jun-19,2019,R,120,"Dramas, International Movies, Romantic Movies"

In [21]:
# Change NaN director with TV Directors

In [22]:
df['director'] = df['director'].fillna('TV Directors')

In [23]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
0,s1,TV Show,3%,TV Directors,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers"
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies"
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies
4,s1001,TV Show,Blue Planet II,TV Directors,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV"
...,...,...,...,...,...,...,...,...,...,...,...
7782,s995,TV Show,Blown Away,TV Directors,NaN,Canada,12-Jul-19,2019,TV-14,1,"International TV Shows, Reality TV"
7783,s996,TV Show,Blue Exorcist,TV Directors,"Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...",Japan,01-Sep-20,2017,TV-MA,2,"Anime Series, International TV Shows"
7784,s997,Movie,Blue Is the Warmest Color,Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...","France, Belgium, Spain",26-Aug-16,2013,NC-17,180,"Dramas, Independent Movies, International Movies"
7785,s998,Movie,Blue Jasmine,Woody Allen,"Cate Blanchett, Sally Hawkins, Alec Baldwin, L...",United States,08-Mar-19,2013,PG-13,98,"Comedies, Dramas, Independent Movies"
7786,s999,Movie,Blue Jay,Alex Lehmann,"Sarah Paulson, Mark Duplass, Clu Gulager",United States,06-Dec-16,2016,TV-MA,81,"Dramas, Independent Movies, Romantic Movies"

In [24]:
# Now we have been able to fix the director coluns and replaced NaN with Tv Direcxtors
# Following the business rules
# and we check the sorted nulls to see that there is none in directors

In [25]:
sorted_nulls = df.isnull().sum().sort_values(ascending = False)

In [26]:
sorted_nulls[sorted_nulls > 0]

cast          718
country       507
date_added     10
rating          7
dtype: int64

In [27]:
# We do the same for Cast
# Change Null director with Cast Not Listed

In [28]:
df['cast'] = df['cast'].fillna('Cast Not Listed')

In [29]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
0,s1,TV Show,3%,TV Directors,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers"
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies"
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies
4,s1001,TV Show,Blue Planet II,TV Directors,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV"
...,...,...,...,...,...,...,...,...,...,...,...
7782,s995,TV Show,Blown Away,TV Directors,Cast Not Listed,Canada,12-Jul-19,2019,TV-14,1,"International TV Shows, Reality TV"
7783,s996,TV Show,Blue Exorcist,TV Directors,"Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...",Japan,01-Sep-20,2017,TV-MA,2,"Anime Series, International TV Shows"
7784,s997,Movie,Blue Is the Warmest Color,Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...","France, Belgium, Spain",26-Aug-16,2013,NC-17,180,"Dramas, Independent Movies, International Movies"
7785,s998,Movie,Blue Jasmine,Woody Allen,"Cate Blanchett, Sally Hawkins, Alec Baldwin, L...",United States,08-Mar-19,2013,PG-13,98,"Comedies, Dramas, Independent Movies"
7786,s999,Movie,Blue Jay,Alex Lehmann,"Sarah Paulson, Mark Duplass, Clu Gulager",United States,06-Dec-16,2016,TV-MA,81,"Dramas, Independent Movies, Romantic Movies"

In [41]:
sorted_nulls = df.isnull().sum().sort_values(ascending = False)

In [42]:
sorted_nulls[sorted_nulls > 0]

country       507
date_added     10
rating          7
dtype: int64

In [30]:
# do the rest for other nulls fpr countries,... using the business rules

In [31]:
#lets change the date format fom this to yyyy-mm-dd format 
df['date_added']

0       14-Aug-20
1       15-Dec-17
2       05-Jan-19
3       01-Mar-16
4       03-Dec-18
          ...
7782    12-Jul-19
7783    01-Sep-20
7784    26-Aug-16
7785    08-Mar-19
7786    06-Dec-16
Name: date_added, Length: 7787, dtype: object

In [43]:
pd.to_datetime(df['date_added'],  format='mixed')

0      2020-08-14
1      2017-12-15
2      2019-01-05
3      2016-03-01
4      2018-12-03
          ...
7782   2019-07-12
7783   2020-09-01
7784   2016-08-26
7785   2019-03-08
7786   2016-12-06
Name: date_added, Length: 7787, dtype: datetime64[ns]

In [44]:
df['date_added'] = pd.to_datetime(df['date_added'],  format='mixed')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
0,s1,TV Show,3%,TV Directors,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020-08-14,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,2017-12-15,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers"
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,2019-01-05,2016,TV-PG,124,"Dramas, International Movies, Sports Movies"
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,2016-03-01,2016,R,90,Comedies
4,s1001,TV Show,Blue Planet II,TV Directors,David Attenborough,United Kingdom,2018-12-03,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV"
...,...,...,...,...,...,...,...,...,...,...,...
7782,s995,TV Show,Blown Away,TV Directors,Cast Not Listed,Canada,2019-07-12,2019,TV-14,1,"International TV Shows, Reality TV"
7783,s996,TV Show,Blue Exorcist,TV Directors,"Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...",Japan,2020-09-01,2017,TV-MA,2,"Anime Series, International TV Shows"
7784,s997,Movie,Blue Is the Warmest Color,Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...","France, Belgium, Spain",2016-08-26,2013,NC-17,180,"Dramas, Independent Movies, International Movies"
7785,s998,Movie,Blue Jasmine,Woody Allen,"Cate Blanchett, Sally Hawkins, Alec Baldwin, L...",United States,2019-03-08,2013,PG-13,98,"Comedies, Dramas, Independent Movies"
7786,s999,Movie,Blue Jay,Alex Lehmann,"Sarah Paulson, Mark Duplass, Clu Gulager",United States,2016-12-06,2016,TV-MA,81,"Dramas, Independent Movies, Romantic Movies"

## EDA with Aggregates

In [32]:
type(df['genres'])

pandas.core.series.Series

In [33]:
df['genres'].index

RangeIndex(start=0, stop=7787, step=1)

In [34]:
len(df['genres'].unique())

492

In [35]:
df['genres'].value_counts()

genres
Documentaries                                                      334
Stand-Up Comedy                                                    321
Dramas, International Movies                                       320
Comedies, Dramas, International Movies                             243
Dramas, Independent Movies, International Movies                   215
                                                                  ...
British TV Shows, Docuseries, TV Comedies                            1
Horror Movies, International Movies, Sci-Fi & Fantasy                1
TV Comedies, TV Sci-Fi & Fantasy, Teen TV Shows                      1
Action & Adventure, Classic Movies, International Movies             1
Stand-Up Comedy & Talk Shows, TV Mysteries, TV Sci-Fi & Fantasy      1
Name: count, Length: 492, dtype: int64

In [36]:
df.groupby(['genres']).count()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration
genres,,,,,,,,,,
Action & Adventure,99,99,99,99,99,97,99,99,99,99
"Action & Adventure, Anime Features, Children & Family Movies",3,3,3,3,3,3,3,3,3,3
"Action & Adventure, Anime Features, Classic Movies",1,1,1,1,1,1,1,1,1,1
"Action & Adventure, Anime Features, Horror Movies",1,1,1,1,1,1,1,1,1,1
"Action & Adventure, Anime Features, International Movies",28,28,28,28,28,28,28,28,28,28
...,...,...,...,...,...,...,...,...,...,...
"TV Horror, TV Mysteries, Teen TV Shows",1,1,1,1,1,1,1,1,1,1
"TV Horror, Teen TV Shows",1,1,1,1,1,1,1,1,1,1
"TV Sci-Fi & Fantasy, TV Thrillers",1,1,1,1,1,1,1,1,1,1
TV Shows,12,12,12,12,12,7,12,12,12,12
Thrillers,49,49,49,49,49,49,49,49,49,49

In [37]:
df.groupby(['genres']).count().sort_values('show_id', ascending=False).loc[:, 'show_id']

genres
Documentaries                                       334
Stand-Up Comedy                                     321
Dramas, International Movies                        320
Comedies, Dramas, International Movies              243
Dramas, Independent Movies, International Movies    215
                                                   ...
Dramas, Romantic Movies, Thrillers                    1
Action & Adventure, Dramas, Sports Movies             1
Children & Family Movies, Classic Movies, Dramas      1
Children & Family Movies, Classic Movies              1
Crime TV Shows, TV Comedies                           1
Name: show_id, Length: 492, dtype: int64

In [38]:
type(df[['release_year', 'genres']])

pandas.core.frame.DataFrame

In [39]:
df[['release_year', 'genres']]

      release_year                                             genres
0             2020  International TV Shows, TV Dramas, TV Sci-Fi &...
1             2008     Horror Movies, International Movies, Thrillers
2             2016        Dramas, International Movies, Sports Movies
3             2016                                           Comedies
4             2017  British TV Shows, Docuseries, Science & Nature TV
...            ...                                                ...
7782          2019                 International TV Shows, Reality TV
7783          2017               Anime Series, International TV Shows
7784          2013   Dramas, Independent Movies, International Movies
7785          2013               Comedies, Dramas, Independent Movies
7786          2016        Dramas, Independent Movies, Romantic Movies

[7787 rows x 2 columns]

In [40]:
df.iloc[0:5, [-4, -1]]

   release_year                                             genres
0          2020  International TV Shows, TV Dramas, TV Sci-Fi &...
1          2008     Horror Movies, International Movies, Thrillers
2          2016        Dramas, International Movies, Sports Movies
3          2016                                           Comedies
4          2017  British TV Shows, Docuseries, Science & Nature TV

# Load to a database ie Sqlite

In [ ]:
#!pip3 install sqlalchemy psycopg2-binary

In [ ]:
# netflix_data
from sqlalchemy import create_engine

In [ ]:
eng =create_engine('sqlite:///pandas_data.db')
netflix_data.to_sql('netflix', eng, if_exists='replace')\
eng.dispose()